* {
    /*box-sizing: border-box;*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

/*body {*/
    /*margin: 0 0 0 0;*/
    /*padding: 0 0 0 0;*/
    /*overflow-x: hidden;*/
/*}*/

.navigation-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: chocolate;
    z-index: 1;
    margin: 0 0 0 0;
    left: 0;
}

.content {
    display: none;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.option-select {
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
}

.option-wrapper {
    width: 100%;
    height: auto;
    border: solid 1px;
    position: absolute;
    display: flex;
}

.content-div {
    margin-bottom: 50px;
}

.option {
    flex: 1;
    text-align: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: solid 1px;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
}

.option.selected {
    background-color: aquamarine;
    color: azure;
}

.option:hover {
    background-color: aqua;
    color: white;
}

.option-basic {
}

.option-standard {
}

.option-premium {
}

.membership-information {
    display: block;
}

.membership-information > .hide {
    display: none;
}

.pay-info-wrapper {
    display: block;
    width: 100%;
}

.pay-info {
    width: 40%;
    text-align: left;
    margin: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pay {
    flex: 1;
    color: gray;
}

.pay-info > .input {
    flex: 1;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 5px 0 5px 5px;
    border: solid 1px #919191;
}

.nav-text {
    margin: 0 0 0 0;
}

.navigation-bar-label {
    display: none;
    align-items: center;
    color: aliceblue;
    top: 5px;
}

.display-on {
    display: block
}

.navigation-bar-label.nav-on {
    display: flex;
}

.menu-bar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: brown;
    top: 0;
    left: -200px;
    z-index: 3;
    overflow : hidden;
    transition-duration: 0.5s;
    color: white;
    text-align: center;
    min-height: 100%;
}

.menu-bar.menu-on {
    left: 0;
}

.menu-img {
    position: fixed;
    left: 10px;
    top: 5px;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.layer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: dimgrey;
    opacity: 0.7;
    min-height: 100%;
}

.layer.on {
    display: block;
}

.menu-title{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: crimson;
    width: 100%;
    font-size: 25px;
}

.menu-option {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-option:hover{
    opacity: 0.7
}

.menu-option.menu-selected {
    background-color: darkred;
}

.modal {
    display: none;
    position: fixed
}

.modal > span {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 30px;
    cursor: pointer;
}

.modal.modal-on {
    position: absolute;
    display: block;
    width:80%;
    height: 80%;
    top: 10%;
    left: 10%;
    z-index: 51 !important;
    background-color: white;
}

.btn {
    font-size: 20px;
    padding: 12px 2em;
    min-width: 112px;
    min-height: 44px;
    cursor: pointer;
    margin: 10px auto 10px auto;
    background-color: #ff5f52;
    border: none;
    color: white;
}

.label-text > span {
    font-size: 15px;
    color: lightgray;
}

.info-container {
    display: flex;
}


@media screen and (max-width: 480px) {
    .content {
        width: 90%;
        left: 5%;
    }

    .option-wrapper{
        display: block;
        position: static;
        width: 100%;
        border: none;
        height: auto;
        float: left;
        margin-bottom: 30px;
    }

    .option {
        width: 100%;
        display: block;
        margin: 10px 0 10px 0;
        position: static;
    }
    .info-container{
        display: block;
    }
    .pay-info {
        width: 100%;
        margin: 0 0 0 0;
    }
    .btn {
        width: 100%;
    }
    .modal {
        width:100%;
        height: 100%;
    }
}