<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Pay</title>
    <link rel="stylesheet" href="./src/css/main.css">
</head>
<body>

<div class="menu-bar">
    <div class="menu-option menu-sub menu-selected" data-page="content-pay" data-title="nav-pay">구독하기</div>
    <div class="menu-option menu-refund" data-page="content-refund" data-title="nav-refund">환불하기</div>
</div>

<div class="layer"></div>

<div class="navigation-bar">
    <div class="navigation-bar-label nav-pay nav-on">
        <h1 class="nav-text">Class Pay 구독</h1>
    </div>
    <div class="navigation-bar-label nav-refund">
        <h1 class="nav-text">Class Pay 환불하기</h1>
    </div>
    <img src="./static/menu_img.png" class="menu-img">
</div>

<div class="content content-pay display-on">
    <div class="option-select content-div">
        <h3>멤버십 선택</h3>
        <div class="option-wrapper">
            <div class="option option-basic" data-price="9,900원" data-amount="99">
                <span>Basic</span>
            </div>
            <div class="option option-standard" data-price="29,900원" data-amount="299">
                <span>Standard</span>
            </div>
            <div class="option option-premium" data-price="49,900원" data-amount="499">
                <span>Premium</span>
            </div>
        </div>
    </div>
    <div class="membership-information content-div">
        <h3>멤버십 안내</h3>
        <span class="membership-information-no">멤버십을 선택하세요</span>
        <span class="membership-information-yes hide">고객님이 선택하신
        <strong class="membership-information-plan"></strong> 플랜은
        <strong class="membership-information-price"></strong> 입니다.
        </span>
    </div>
    <div class="submit-form content-div">
        <h3>결제정보 입력</h3>
        <div class="pay-info-wrapper">
            <div class="pay-info">
                <label class="pay label-pay-name">
                    <span class="label-text">이름</span>
                    <input id="pay-name">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-pay-phone">
                    <span class="label-text">이메일주소</span>
                    <input id="pay-email">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-pay-email">
                    <span class="label-text">연락처</span>
                    <input id="pay-phone">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-pay-birth">
                    <span class="label-text">생년월일</span>
                    <input id="pay-birth">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-pay-card">
                    <span class="label-text">카드번호</span>
                    <input id="pay-card">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-pay-due">
                    <span class="label-text">카드 유효기간</span>
                    <input id="pay-due">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-pay-pw">
                    <span class="label-text">카드 비밀번호 앞 두자리</span>
                    <input id="pay-pw">
                </label>
            </div>

        </div>

        <button class="submit-btn">구독</button>


    </div>
</div>

<div class="content content-refund">
    <div class="submit-form content-div">
        <h3>결제정보 입력</h3>
        <div class="pay-info-wrapper">
            <div class="pay-info">
                <label class="pay label-refund-name">
                    <span class="label-text">이름</span>
                    <input id="refund-name">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-refund-name">
                    <span class="label-text">이메일</span>
                    <input id="refund-email">
                </label>
            </div>

            <div class="pay-info">
                <label class="pay label-refund-uid">
                    <span class="label-text">주문번호</span>
                    <input id="refund-uid">
                </label>
            </div>

        </div>

        <button class="refund-btn">환불</button>

    </div>
</div>

<script src="./dist/bundle.js"></script>
</body>
</html>