<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Pay</title>
    <link rel= "stylesheet" href="./src/css/main.css">
</head>
<body>

<div class="navigation-bar">

</div>

<div class="content">
    <div class="option-select">
        <h3>멤버십 선택</h3>
        <div class="option-wrapper">
            <div class="option option-basic" data-price="9,900원">
                <span>Basic</span>
            </div>
            <div class="option option-standard" data-price="29,900원">
                <span>Standard</span>
            </div>
            <div class="option option-premium" data-price="49,900원">
                <span>Premium</span>
            </div>
        </div>
    </div>
    <div class="membership-information">
        <h3>멤버십 안내</h3>
        <span class="membership-information-no">멤버십을 선택하세요</span>
        <span class="membership-information-yes hide">고객님이 선택하신
        <strong class="membership-information-plan"></strong> 플랜은
        <strong class="membership-information-price"></strong> 입니다.
        </span>
    </div>
    <div class="submit">

    </div>
</div>

<script src="./dist/bundle.js"></script>
</body>
</html>